body{
  font-family: 'Source Sans Pro', sans-serif;
}

#main-r2d-header{
  text-align: center;
}

#logo{
    width: 60px;
}

#Map {
    /* height: 50%; */
    /* The height is 400 pixels */
    width: 90%;
    /* The width is the width of the web page */
  }
  
#origin-container {
  display: flex;
}

#find-me{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#form {
  display: flex;
  flex-direction: column;
}

#pickup-location{
  /* width: 20em; */
  /* float:left;  */
}

#pickup-location #destination{
  padding: 2%;
  margin: 1%;
  width: 98%;
}


#pickup-location #origin{
  padding: 2%;
  margin: 1%;
  width: 79%;
}

#date-header{
  text-align: center;
}

#pickup-time {
  display: flex;
}

#pickup-time input {
  padding: 1.5%;
  margin: 0.8%;
  /* margin-left: 1%; */
  flex-grow: 1;
}

#top-left-side{
  background-color: #b4c0d4;
}

#show-map{
  margin: 1%;

}

#map {
  float: left;
  display: inline;
  border: 2px solid black;
  width: 70%;
  /* margin-left:2em; */
}

#Map {
  height: auto;
}

#post-map-text {
  background-color: #ced6e3;
  text-align: center;
}

#tier-select {
  text-align: center;
}

#show-car-table{
  padding-left: 0%;
  padding-right: 0%;
}

#car-table tr:nth-child(odd) { background-color : white; }
#car-table tr:nth-child(even) { background-color : #d3d0cb; }
#car-table tr:hover { background-color : #e6dff7; }

/* #car-table caption{
  caption-side: top;
  text-align: center;
} */

#car-table {
  border: black 2px solid;
}

#price {
  text-align: center;
}

.row {
  padding-left:inherit;
  padding-right:inherit;
}
