

/* li {
  display: inline;
} */

body{
  font-family: 'Source Sans Pro', sans-serif;
}

#main-r2d-header{
  text-align: center;
}

#logo{
    width: 60px;
}

#Map {
    height: 50%;
    /* The height is 400 pixels */
    width: 90%;
    /* The width is the width of the web page */
  }
  
#find-me{
  width: 2em;
  display: inline;
  /* border: 0.5px solid blue; */
}

#form {
  /* width: 30em; */
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  /* border:1px solid black; */
  margin-bottom: 2em;
}

#pickup-location{
  width: 20em;
  float:left; 
}

#pickup-location #destination{
  padding:3%;
  margin: 1%;
  width: 100%;
}


#pickup-location #origin{
  padding:3%;
  margin: 1%;
  width: 85%;
}

#pickup-time input {
  padding: 3%;
  margin: 1.5%;
}

#top-left-side{
  background-color: #b4c0d4;
}

/* Lower half */

#map {
  float: left;
  display: inline;
  border: 2px solid black;
  width: 70%;
  margin-left:2em;
}

#Map {
  height: auto;
}

#form {
  padding-left: 2em;
  float:left; 
  display:inline; 
}


/* hr.dashed {
  border-top: 3px dashed #bbb;
} */

#tier-select {
  text-align: center;
}

#car-table {
}

#car-table tr:nth-child(odd) { background-color : white; }
#car-table tr:nth-child(even) { background-color : #d3d0cb; }
#car-table tr:hover { background-color : #e6dff7; }

#car-table caption{
  caption-side: top;
  text-align: center;
}

#price {
  text-align: center;
}

#bottom-left-table {
  float:left; display:inline; width: 27%;
}

#show-car-table{
  float:left; display:inline; width: 70%;
}

.row {
  padding-left:inherit;
  padding-right:inherit;
}