/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */
  
  li {
    display: inline;
  }

  /* #nav-right{
      float: right;
  } */

#logo{
    width: 60px;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
  